// add your custom styles here
// to learn more about SASS, visit sass-lang.com
body {
  padding-top: 3.5rem;
}
.header-section {
  padding-top: 3rem;
}
.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  // border-bottom: 2px dashed $primary;
}
.card {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 478px;
  &.group3 {
    width: 20rem;
  }
  &.group2 {
    width: 30rem;
  }
  .card-img-top {
    // padding:20px;
    max-height: 180px;
  }
  ul {
    @extend .list-group;
    @extend .list-group-flush;
    li {
      @extend .list-group-item;
    }
  }
  .card-sub-title {
    @extend .text-muted;
  }
}
  

//////////////
// NAV //
////////////////
.navbar {
  background: $uxdx;
  color: $white;
}


////////////////
// HOME PAGE //
////////////////

// Header //
.jumbotron {
  color: $white;
  text-align: center;
  margin-bottom: 0rem;
  .header-logo-div {
    display: none;
  }
  .header-logo {
    width: 250px;
    height: 250px;
  }
  .display-5 {
    font-size: 3rem;
    font-weight: 300;
  }
  h3 {
    padding-bottom: 20px;
  }
  @include media-breakpoint-up(sm) {
    .header-logo-div {
      display: block;
    }
  }
}

// Stats
.stats-section {
  padding-bottom: 2rem;
  .stat {
    width: 10rem;
    text-align: center;
    h3 {
      border-bottom: 4px solid $primary;
      display: inline-block;
      padding: 0px 10px;
    }
  }
}


// UXDX model
.cards-section {
  background-color: $gray-100;
}
.uxdx_model_section {
  .card {
    color: white;
  }
  .uxdx_model___ux_card {
    .card-body {
      background-color: $ux;
    }
  }
  .uxdx_model___dev_card {
    .card-body {
      background-color: $dev;
    }
  }
  .uxdx_model___ops_card {
    .card-body {
      background-color: $ops;
    }
  }
}

// Call to Action
.buttons-section {
  background: $uxdx;
  color: white;
  text-align: center;
}


/// TESTIMONIALS
.testimonials-section {
  background: $uxdx;
  color: $white;
  .quotes {
    text-align: center;
    // color: $white;
  }
  .carousel {
    padding: 20px 40px;
  }
  .carousel-inner {
    min-height: 200px;
  }
  ol.carousel-indicators li {
    margin-top: 20px;
    // background: $gray-300;
    // &.active {
    //   background: $primary;
    // }
  }
  .testimonial-logo {
    max-width: 150px;
    max-height: 60px;
    margin-bottom: 40px;
  }
}

// Companies
.highlighted-company-logo {
  width: 10rem;
  height: 6rem;
  margin: 1.2rem;
  img {
    filter: saturate(5%);
    max-width: 120px;
    max-height: 80px;
  }
}

// Highlight Photos
.image_rows-section {
  padding:0px;
  .d-flex {
    flex-wrap:wrap;
    div {
      flex: 1;
    }
    .image-flex {
      align-items: stretch;
    }
    .double-width {
      flex:2;
    }
  }
  img {
    max-width: 100%;
  }
  @include media-breakpoint-down(xs) {
    .d-flex {
      align-items: stretch;
      .image-flex {
        min-width: 20rem;
      }
      // flex-wrap: none;
    }
  }
}

// SIGNUP FORM //
.forms-section {
  background: $gray-300;
  color: #444;
  .btn-primary {
    @extend .btn-outline-dark;
  }
}



// SPEAKERS //
.speaker-box {
  width: 14rem;
  .card-img-top {
    max-height: 100%;
  }
}
.company-logo {
  max-width: 5rem;
  max-height: 3rem;
}


///////////////////
// ATTENDEES /////
//////////////////
.attendees___section {
  .card {
    width: 12rem;
    .card-img-top {
      max-height:100%;
      max-width:100%;
    }
    .company-image {
      max-width: 5rem;
      max-height: 3rem;
    }
  }
}
///////////////////
// PARTNERS /////
//////////////////
.partners___section {
  .card {
    width: 30rem;
    .partner-profile {
      max-width:200px;
      margin: 2rem;
    }
    .card-img-top { 
      border-bottom: 1px dashed $primary;
    }
  }
  .display-controllers {
    cursor: pointer;
    color: $cyan;
    .show-ctrl {
      display:none;
    }
    .hide-ctrl {
      display: block;
    }
    &.collapsed {
      .show-ctrl {
        display:block;
      }
      .hide-ctrl {
        display: none;
      }
    }
  }
}


////////////////////////
/// TICKETS ////////////
////////////////////////
.tickets {
  small {
    font-size: 70%;
  }
  .tickets-table {
    font-size: 1.3rem;
    width: 100%;
    min-width: 20rem;
    thead tr th {
      background-color: $secondary;
    }
    @include media-breakpoint-up(md) {
      // max-width: 30rem;
    }
  }
  .details {
    // max-width: 30rem;
    padding-bottom: 3rem;
  }
  .tito-tickets-button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
  }
}



// FOOTER
footer {
  background-color: $gray-700;
  padding-top: 3rem;
  // text-align: center;
  .footer-nav {
    border-bottom: 1px solid $gray-500;
    .footer-nav-menu-col {
      min-width: 15rem;
    }
    dt {
      @extend h4;
      color: white;
    }
    a {
      color: $gray-500;
    }
  }
  .footer-social {
    padding: 1.5rem 0rem;
    color: $gray-500;
    dt {
      padding-right: 0.5rem;
    }
    dd {
      padding: 0 0.5rem;
      svg {
        fill: $gray-500;
      }
    }

  }
}

.model {
  width: 200px;
}

